* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

button,
select,
input {
  cursor: pointer;
  border: none;
  text-align: center;
  text-align-last: center;
  outline: none;
}

button {
  background-color: transparent;
}

ul {
  list-style: none;
}
